<!DOCTYPE>

<html>
    <head>
        <meta property="og:url" content="http://www.google.com" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />

        <title>Post Culture Juice</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <!-- GOOGLE ANALYTICS -->
    </head>

    <body>
        <!-- TOP -->
        <div id="logo_offset"></div>
        <div id="logo">
            <img src="images/logo.png" /> <br><br>
            <div id="down_arrow">scroll down</div> 
        </div>
        <!--br>
        <div class="nav">
            <div class="nav_element">fuck</div>
            <div class="nav_element">fuck</div>
            <div class="nav_element">fuck</div>
        </div-->

        <div class="backdrop_gradient"></div>
        <div class="backdrop">

            <br><br><br><br><br><br>

            <!-- ISSUES -->

            <div class="issue" id="issue_03">
                <div class="bold header_3">FUCK INDIVIDUALISM</div>
                <div class="bold header_4">NOVEMBER 2014</div>
                <br>
                <div class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices erat elit, quis blandit diam condimentum vel. Nullam sed hendrerit erat. 
                    <br><br>
                    Aenean facilisis eleifend nulla, at laoreet sem tempus nec. </div>
            </div>

            <div class="issue" id="issue_02">
                <div class="bold header_3">A POST-SINCERE ERA</div>
                <div class="bold header_4">NOVEMBER 2013</div>
                <br>
                <div class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices erat elit, quis blandit diam condimentum vel. Nullam sed hendrerit erat. 
                    <br><br>
                    Aenean facilisis eleifend nulla, at laoreet sem tempus nec. Nulla rutrum felis eu risus accumsan facilisis. Morbi condimentum nunc ac purus tempus egestas.</div>
            </div>

            <div class="issue" id="issue_01">
                <div class="bold header_3">ATHLETIC CONSUMERISM</div>
                <div class="bold header_4">NOVEMBER 2012</div>
                <br>
                <div class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices erat elit, quis blandit diam condimentum vel. Nullam sed hendrerit erat. 
                    <br><br>
                    Aenean facilisis eleifend nulla, at laoreet sem tempus nec. Nulla rutrum felis eu risus accumsan facilisis. Morbi condimentum nunc ac purus tempus egestas.</div>
            </div>


            <div class="content">
                <br><hr><br>
            </div>

            <div class="content about">
                <div class="header_4 bold">ABOUT</div>
                <br>
                <div class="">
                    Morbi ligula turpis, accumsan a lorem eu, scelerisque bibendum mauris. Curabitur odio lectus, eleifend vitae ullamcorper eu, venenatis sed risus. Aenean arcu arcu, mattis ut tempor ac, tincidunt et nisl. Aenean vestibulum lobortis ligula, nec volutpat ante. Nam eu erat scelerisque, tempus erat euismod, vulputate risus. Ut sapien magna, ultrices et eleifend eu, porttitor et magna. Vestibulum sollicitudin turpis vel risus laoreet, in porta arcu sollicitudin. Curabitur non accumsan odio. Cras a facilisis odio.
                    <br><br>
                    Suspendisse sed faucibus diam. Sed porta vestibulum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse lectus turpis, sagittis interdum justo rutrum, egestas pharetra est. Suspendisse sed faucibus diam. Sed porta vestibulum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse lectus turpis, sagittis interdum justo rutrum, egestas pharetra est.
                </div>
            </div>

            <div class="content">
                <br><hr><br>
            </div>

            <div class="content footer">
                <div class="contact">
                    <br>
                    <div class="footer_title bold header_4">CONTACT</div>
                    <div class="contact_content">
                        <span class="bold">E:</span> &nbsp info@postculturejuice.com <br>
                        <span class="bold">T:</span> &nbsp @postculturejuice <br>
                        <span class="bold">A:</span> &nbsp 123 Cottage St, Bld 6 <br>
                        &nbsp &nbsp &nbsp New York City, New York <br>
                        &nbsp &nbsp &nbsp USA, 12345
                    </div>
                </div>
                <div class="subscribe">
                    <br>
                    <div class="footer_title bold header_4">STAY INFORMED</div>
                    <div class="subscribe_content">
                        Enter your email address below. Keep up to date with our latest issues.
                        <br><br>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="____" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required><!--
                                --><input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_6471de4bbd4d7a8c58c994395_77485d7c65" value=""></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br><br>

        </div>

        <!-- SCRIPTS -->
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>

