<!DOCTYPE>
<html>
    <head>
        <meta property="og:url" content="http://www.google.com" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />

        <title>Post Culture Juice</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <!-- GOOGLE ANALYTICS -->
    </head>

    <body>
        <div class="hero" id="issue01_hero">
            <div class="hero_mask">
                <div class="bold header_1">ATHLETIC <br> CONSUMERISM </div>
                <div class="bold header_2">NOVEMBER 2012</div>
            </div>

            <div class="hero_filler"></div>

            <div class="issue_nav_mask"></div>
            <div class="issue_nav">
                <div class="content">
                    <div class="issue_nav_element issue_nav_01" number="1">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav01.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_02" number="2">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav02.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_03" number="3">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav03.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_04" number="4">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav04.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_05" number="5">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav05.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_06" number="6">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav06.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_07" number="7">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav07.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_08" number="8">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav08.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_09" number="9">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav09.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                    <div class="issue_nav_element issue_nav_10" number="10">
                        <div class="element_name">THE JOGGING</div>
                        <img class="element_icon" src="images/issue01/nav10.png" />
                        <img class="element_line" src="images/redline.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="text">
            Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
            <br><br>
            Integer non gravida velit. Vivamus laoreet mi in lacus bibendum, eget euismod quam dapibus. Maecenas sed metus sit amet magna adipiscing consequat vitae ac est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet scelerisque augue, vitae varius nulla. Quisque vulputate arcu enim, ultricies pharetra diam tristique nec. Etiam pulvinar ipsum vitae suscipit sollicitudin. Quisque id dapibus lorem. Ut vel eleifend purus. 
            <br><br>
            In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
        </div>

        <div class="object" tag="1">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="2">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="3">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="4">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>


        <div class="object" tag="5">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="6">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="7">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="8">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="9">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="object" tag="10">
            <div class="image" id="i01b01"></div>
            <div class="text" id="i01t01">
                <div class="header_4 bold">THE JOGGING</div>
                <br>
                Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
                <br><br>
                In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
            </div>
        </div>

        <div class="text">
            <div class="header_4 bold">SUMMARY</div>
            <br>
            Donec interdum, elit vitae gravida elementum, arcu erat pellentesque lacus, vel aliquet leo elit et diam. Nulla faucibus sit amet massa eget placerat. Nullam elementum, mi eget consequat eleifend, justo lacus interdum purus, at porttitor turpis sem quis mi. Nunc mollis tortor sit amet dapibus aliquam. 
            <br><br>
            In non sem nec purus sodales fringilla ac suscipit massa. Nam eros nibh, suscipit vitae nibh et, congue ornare arcu. Nunc fringilla commodo dui, nec vulputate lorem dictum mollis.
        </div>

        <div class="content">
            <br><hr><br>
        </div>

        <div class="content footer">
            <div class="contact">
                <br>
                <div class="footer_title bold header_4">CONTACT</div>
                <div class="contact_content">
                    <span class="bold">E:</span> &nbsp info@postculturejuice.com <br>
                    <span class="bold">T:</span> &nbsp @postculturejuice <br>
                    <span class="bold">A:</span> &nbsp 123 Cottage St, Bld 6 <br>
                    &nbsp &nbsp &nbsp New York City, New York <br>
                    &nbsp &nbsp &nbsp USA, 12345
                </div>
            </div>
            <div class="subscribe">
                <br>
                <div class="footer_title bold header_4">STAY INFORMED</div>
                <div class="subscribe_content">
                    Enter your email address below. Keep up to date with our latest issues.
                    <br><br>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="____" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required><!--
                            --><input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6471de4bbd4d7a8c58c994395_77485d7c65" value=""></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- SCRIPTS -->
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/issue01.js"></script>
    </body>
</html>
